body {
    background-image: linear-gradient(to bottom,
            blue,
            yellow);
}

.search-form {
    text-align: center;
    background-color: blue;
    height: 40px;
    padding-top: 10px;
}

.search-input {
    font-size: 20px;
}

.search-button {
    font-size: 20px;
}

.gallery {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.photo-card {
    height: 250px;
    width: 300px;
}

.info {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.image {
    height: 200px;
    width: 300px;
}

.load-more {
    /* display: block; */
    width: 140px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.btn-box {
    text-align: center;
}